<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Read(One)</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 style="text-align:center;">User {{ users.id }}</h1>
        <div class="home">
            <a type="submit" href="/" class="btn btn-info">Home</a>
        </div>



        <div class="box">
            <h6 scope="row">Full Name: {{ users.first_name }} {{ users.last_name }}</h6>
            <h6 scope="row">Email: {{ users.email }}</h6>
            <h6 scope="row">Created At: {{ users.created_at }}</h6>
            <h6 scope="row">Last Updated On: {{ users.updated_at }}</h6>
        </div>
        <div class="link">
            <a type="submit" href="/show/{{ users.id }}/edit">Edit</a> |
            <a type="submit" href="/delete/{{ users.id }}">Delete</a>
        </div>
    </div>
</body>

</html>